modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Run Dev Server"
author = 41961415
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun run dev"

[[workflows.workflow]]
name = "Backend Server"
author = 41961415
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && bun install && NODE_ENV=production bun run dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 41961415
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && bun install && bun run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bun install && bun run dev"

[[ports]]
localPort = 8080
externalPort = 80
